<!DOCTYPE html>
{% load cms_tags sekizai_tags %}
{% load menu_tags %}
<html>

  <head>
    <title>Water Action Initiative NZ{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content="Water Action Initiative New Zealand">
    <meta name="author" content="wainz">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/logo.ico" />
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}site.css" rel="stylesheet">
    <style>
      body {
        padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  <script style="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script style="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  <script style="text/javascript">
    $(document).ready(function() {
        $(".dropdown-toggle").dropdown()
    });
  </script>

  {% block page_specific_javascript %}

  {% endblock %}

  {% render_block "css" %}
  </head>

  <body>
    {% cms_toolbar %}
    <h1>{% show_menu %}</h1>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url wainz.views.composite %}">WAI NZ</a>
          {% if user.is_authenticated %}

          <div class="dropdown pull-right">
            <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
              <span class="icon-user"></span> {{ user }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url wainz.views.images_for_user user%}">View your images</a></li>
              {% if user.is_staff%}
              <li><a href="{% url wainz.views.approve_images %}">Approve Images</a></li>
              <li><a href="{% url admin:index %}">Admin Panel</a></li>
              {% endif %}
              <li><a href="{% url wainz.views.logout %}?next={{current_url}}">Sign Out</a></li>
            </ul>

          </div>

          {% else %}
          <div class="dropdown pull-right">
          <a class='login-button btn btn-success' href='https://www.wainz.org.nz{% url registration_register %}'>Register</a>
          {% if request.is_secure %}
          <a class="login-button dropdown-toggle btn" data-toggle="dropdown" href="#">
              <span>Login</span>
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu">
              <form action="{% url django.contrib.auth.views.login %}" method="post" >
                {% csrf_token %}
                <fieldset class="textbox" style="padding:10px">
                  <input class="login textin" type="text" placeholder="Username" name="username"/>
                  <input class="login textin" type="password" placeholder="Password" name="password"/>
                  <input class="login btn-success" type="submit" value="Log In" />
                </fieldset>
                <input type="hidden" name="next" value="{% url wainz.views.composite %}" />
              </form>
            </div>
          {% else %}
          <a class="login-button btn" href="https://www.wainz.org.nz{% url django.contrib.auth.views.login %}">Login</a>
          {% endif %}
          </div>
          {% endif %}

          <div class='nav-collapse collapse'>
            <ul class='nav'>
            {% for tab in tabs %}
              {% if tab.active %}
                <li class="active"><a href="{{ tab.path }}">{{ tab.name }}</a></li>
              {% else %}
                <li><a href="{{ tab.path }}">{{ tab.name }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="main container background-color1" style='min-width:1100px'>
    <div>

			<!-- Header -->
			<header>
				<div class='row-fluid background-color2'>
					<div class='span3'>
						<img height="150" src="{{ STATIC_URL }}images/logo2.jpg"
							alt="Wainz Logo" />
					</div>
					<div class='span6'>
						<br /> <br /> <br /> <br /> <br />
						<hr />
						<h2>Needs to be dynamic text!</h2>
					</div>
					<div class='span3'>
						<img height="130" style="float: right; margin: 30px 30px 0px 0px;"
							src="{{ STATIC_URL }}images/riverwatch.jpg" alt="Riverwatch Logo" />
					</div>
				</div>
				<hr />
			</header>

			<!-- Left navigation bar -->
			<div class='span2 well mainrow2'>
				<ul class="nav nav-list">
					<li class="nav-header" style='font-size: 14px'>Navigation</li>
					<li><hr /></li>
					<li><a href="{% url wainz.views.composite %}"><i
							class="icon-home"></i> Home</a></li>
					<li><a href="{% url wainz.views.facts %}"><i
							class="icon-info-sign"></i> Facts</a></li>
					<li><a href="{% url wainz.views.pollution %}"><i
							class="icon-map-marker"></i> Pollution</a></li>
					<!--<li><a href="{% url wainz.views.reports %}"><i class="icon-list-alt"></i> Reports</a></li>-->
					<li><a href="{% url wainz.views.imggallery %}"><i
							class="icon-camera"></i> Gallery</a></li>
					<li><a href="{% url wainz.views.uav %}"><i
							class="icon-facetime-video"></i> UAV Videos</a></li>
					<li class="active"><a href="{% url wainz.views.media %}"><i
							class="icon-globe icon-white"></i> Media</a></li>
					<li><a href="{% url wainz.views.resources %}"><i
							class="icon-eye-open"></i> Resources</a></li>
					<li><a href="{% url wainz.views.mobileapps %}"><i
							class="icon-signal"></i> Mobile Apps</a></li>
					<li><a href="{% url wainz.views.howtohelp %}"><i
							class="icon-gift"></i> How to help</a></li>
				</ul>
			</div>
			{% block base_content %}
			{% endblock %}

			<!-- Footer -->
			{% show_placeholder "footer" "footer" %}
			<footer style='margin-top: 10px;'>
				&copy; 2012 WAI NZ &amp; River Dog
			</footer>
			{% render_block "js" %}
</body>

</html>
