<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
{% load cms_tags sekizai_tags %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>

  {% block page_specific_javascript %}

  {% endblock %}

  {% render_block "css" %}
</head>
<body>
{% cms_toolbar %}

hello

      {% placeholder base_content %}
      {% block base_content %}{% endblock %}
      {% block container_content %}

      {% endblock %}

    {% render_block "js" %}
</body>
</html>
