{% extends "wainz/base.html" %}

{% block container_content %}

<div class="image_list">
 {% if images %}
 {% for image in images %}
 	<div class='row'>
 		<div class='thumbnail span5' >
 			<a href="{% url wainz.views.image image.id %}">
 				<img src="{{ STATIC_URL }}uploaded-images/{{image.image_path}}.{{image.extension}}" />
 			</a>
	     </div>
	     <div class='span6'>
	     	<h2>Image Name: {{image.image_name}}</h2>
	     	<div>Submission Date: {{image.submission_date}}</div>
	     	<div>Image Description: {{image.image_description}}</div>
	     	<div>Submitted By: {{image.submitter}}</div>
	     	<div class='mandate-btn-group btn-group'>
	     		<a href ="{% url wainz.views.approve image.id %}" class='btn btn-large btn-success'>Approve</a>
	     		<a href ="{% url wainz.views.reject image.id %}" class='btn btn-large btn-danger'>Reject</a>
	    	</div>
	     </div>	
	</div>
 {% endfor %}
 {% else %}
 	<h1 class='centered'>All images have been processed.</h1>
 {% endif %}
</div>
{% endblock %}
