{% extends "wainz/base.html" %}

{% block container_content %}

<header>
  <div class='row-fluid background-color2'>
    <div class='span3'>
      <img height="150" src="{{ STATIC_URL }}images/logo2.jpg" alt="Wainz Logo" /> 
    </div>
    <div class='span6'>
      <br />
      <br />
      <br />
      <br />
      <br />
      <hr />
      <h2>How you can help</h2>
    </div>
    <div class='span3'>
      <img height="130" style="float:right;margin:30px 30px 0px 0px;" src="{{ STATIC_URL }}images/riverwatch.jpg" alt="Riverwatch Logo" />
    </div>
  </div>
 <hr />
</header>

<div class="container-fluid"> 
  <div class='row-fluid'>
	<div class='span2 well mainrow2'>
	    <ul class="nav nav-list">
	    <li class="nav-header" style='font-size: 14px'>Navigation</li>
	    <li><hr /></li>
	    <li><a href="{% url wainz.views.composite %}"><i class="icon-home"></i> Home</a></li>
	    <li><a href="{% url wainz.views.facts %}"><i class="icon-info-sign"></i> Facts</a></li>
	    <li><a href="{% url wainz.views.pollution %}"><i class="icon-map-marker"></i> Pollution</a></li>
	    <!--<li><a href="{% url wainz.views.reports %}"><i class="icon-list-alt"></i> Reports</a></li>-->
	    <li><a href="{% url wainz.views.imggallery %}"><i class="icon-camera"></i> Gallery</a></li>
        <li><a href="{% url wainz.views.uav %}"><i class="icon-facetime-video"></i> UAV Videos</a></li>
	    <li><a href="{% url wainz.views.media %}"><i class="icon-globe"></i> Media</a></li>
	    <li><a href="{% url wainz.views.resources %}"><i class="icon-eye-open"></i> Resources</a></li>
	    <li><a href="{% url wainz.views.mobileapps %}"><i class="icon-signal"></i> Mobile Apps</a></li>
	    <li class="active"><a href="{% url wainz.views.howtohelp %}"><i class="icon-gift icon-white"></i> How to help</a></li>
	    </ul>
	</div>

    
    <div class='span10 well gen-text2'>
    <p style='font: 18px bold'><b>Being a Volunteer for WAI NZ</b></p>
    <br />
    WAI NZ is an outgrowth of the voluntary actions of ordinary New Zealanders seeking to protect our freshwaters. WAI NZ is an 
    initiative to coordinate nationally, what have been, until recently, localised and uncoordinated efforts to save rivers and 
    streams from pollution.
<br /><br />
    In order to achieve New Zealand&ndash;wide coverage to protect all waterways, WAI NZ needs volunteers like you &ndash; people willing to 
    take guardianship of their local rivers and streams and report when they are under threat from pollution.
<br /><br />
    By providing consistent and accurate evidence to the authorities tasked with protecting New Zealand&apos;s freshwater, WAI NZ 
    intends to make those causing the pollution accountable for their despoilment of our national resources.
<br /><br />
    To be successful WAI NZ requires people to give time and energy to its purpose: whether volunteering directly through 
    evidence&ndash;gathering or indirectly through the provision of other support, your voluntary contribution will go towards protesting 
    the on&ndash;going destruction of New Zealand&apos;s waterways.
<br /><br />   
   There is a range of ways in which people can act through WAI NZ to express their concern for the state of our freshwater. By completing and submitting 
   the volunteer form you can express your interest in becoming a WAI NZ volunteer.
<br /><br />  
   If you frequent a river or stream, &quot;adopt&quot; it by making its care and protection part of your routine. If you observe pollution affecting your 
   river or stream, then use the WAI NZ <a href="{% url wainz.views.submit %}">website</a> to report this pollution. When your report is received by WAI NZ it will 
   be added to a national database and collated with other evidence from your region.
<br /><br />
   Offer your knowledge and skills.  WAI NZ is run entirely by volunteers, including the governance oversight provided by WAI NZ Board members.
<br /><br />
   We are currently seeking expressions of interest for foundation volunteer roles:<br />
   Board Members, website admin, education, human resources,science communication,media.
<br /><br />
   If you can imagine ways in which your knowledge or skills could be of benefit to WAI NZ then please let us know by contacting us at
<script type="text/javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "9zo.1G9VGzCz1X@L8zoC.Tp8"
  key = "oAjWZt0CNdRfrm63V9cDG5BnpsEFgua4IXQhP8ibkYTOylx1KJH2L7zwvqeMSU"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {     
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a href='mailto:"+link+"'>"+link+"</a>")
}
//-->
</script><noscript>wai.newzealand-at-gmail.com.</noscript>
<br /><br />
    </div>
  </div>
</div>
{% endblock %}

