{% extends "wainz/base.html" %}

{% load wainz_tags %}

{% block container_content %}

<div id="fb-root"></div>
	<script src="//connect.facebook.net/en_US/all.js#appId=347343208688512&amp;xfbml=1"></script>
	<script>
            function postonwall()
            {
                FB.api('/WaiNewZealand/feed', 'post',
                {
                    message: 'New Picture Online On The Wai NZ Site',
                    link:'http://{{ site.domain }}{% url wainz.views.image img.id %}',
                    name:'{{img.image_name}}',
                    picture:'http:{{ STATIC_URL }}uploaded-images/{{img.image_path}}.{{img.extension}}',
                    description:'Go to the link to find out ways of helping improve New Zealand&#39;s waterways'
                }, function(response) {
                    if (!response || response.error) {
                        alert('Oops! User Denied Access');
                    } else {
                        alert('Success: Content Published');
                    }
                });
            }
    </script>

<div class='row-fluid'>
  <div class='span12'>
    <h2>{{img.image_name}}</h2>
    <!-- an ugly separator because the name looks goofy hanging out by itself -->
    <div style='background-color:#556; height:3px; margin-bottom:5px'></div>
  </div>
  <div class='span11 well' style='text-align:center'>
    <div id='map_container'>
    </div>
    <a href='{{ STATIC_URL }}uploaded-images/{{img.image_path}}.{{img.extension}}' title='{{img.image_name}}'><img id='img' src='{{ STATIC_URL }}uploaded-images/{{img.image_path}}.{{img.extension}}' height='400' alt='Image - {{img.image_name}}' /></a>
  </div>
  <div class='span12' id='img_details'>
   {% if user.is_staff %} <a class='ttip' href='{% url admin:wainz_image_change img.id %}' rel='tooltip' title='Jump to admin panel'><i class='icon-wrench'></i></a> {% endif %}
   <span class='detail'>Uploaded: {{img.submission_date}}</span>
   <span class='detail'>
     <a href='#' id='loc'> Location</a>: ({{img.latitude}}, {{img.longitude}})
   </span>

   <!--<span class='detail'>
   Share this image on Facebook - 
        <fb:login-button show-faces="false" width="200" max-rows="1"
		perms="publish_stream" onlogin="postonwall()">Click to announce on Facebook</fb:login-button>
   </span>-->


   <br />
   <span id='tags' class='detail'>Tags
     {% for tag in image_tags %}
       <span class='tag'>| {{tag.tag_text}} </span>
     {% endfor %}
   </span> 
   <a href="#" id='add_tag'>+</a>
  </div>

  <div class='row-fluid' style='padding:0 0 25px 50px'>
    <div class='span12'>
    <br />
       <h3>Description</h3>
       <span>
           {% if not img.image_description  %}
               <i>No description provided</i>
	   {% else %}
               {{img.image_description}}
           {% endif %}
       </span>
    </div>
  </div>

<div style='background-color:#556; height:3px; margin-bottom:5px'></div>
  <div class='row-fluid'>
    <div class='span7 comment'>
      <h2>&nbsp;&nbsp;Comments </h2>
      <hr />
      <div id='comment_container'>
      {% for comment_and_votes in comments_and_votes %}
      {% with comment=comment_and_votes.object %}
      {% with vote=comment_and_votes.user_vote %}
        <div class='span12 well comment'>
            <span>{{comment.comment_text}}</span><br />
            <span class='comment time'>{{ comment.submitter }} | at: {{comment.submission_date}} |
            <form class="inline" action="/image/comments/{{ comment.id }}/{% if vote and vote.is_upvote %}clear{% else %}up{% endif %}vote/" method="POST">
                {% csrf_token %}
                <button class="up vote btn{% if vote and vote.is_upvote %} btn-success{% endif %}">{% if vote and vote.is_upvote %}clear{%else%}up{%endif%}</button>
            </form>
            <form class="inline" action="/image/comments/{{ comment.id }}/{% if vote and vote.is_downvote %}clear{% else %}down{% endif %}vote/" method="POST">
                {% csrf_token %}
                <button class="down vote btn{% if vote and vote.is_downvote %} btn-info{% endif %}">{% if vote and vote.is_downvote %}clear{%else%}down{%endif%}</button>
            </form>
            </span>
            {% if user.is_staff %}
                <a rel='tooltip' href="{% url admin:wainz_imagecomment_change comment.id %}" title='Jump to admin panel' class='ttip'><i class='icon-wrench'></i></a>
            {% endif %}
        </div><br />
      {% endwith %}
      {% endwith %}
      {% endfor %}
      </div>
    </div>
    <div class='span5'>
      <h3> Add a comment </h3>
      <form action='{% url wainz.views.add_comment %}' method='post'>
        {% csrf_token %}
        <textarea rows="5" class='field span10' style="resize:none;" id='comment'></textarea>
        <br />
        <div class='hide alert alert-error' id='comment-error'>
          There was an error submitting your comment.<br />
          Please refresh the page and try again.
        </div>
        <div class='hide alert alert-error' id='comment-empty'>
          Please enter a non-empty comment!
        </div>
	<div class='hide alert alert-error' id='comment-auth'>
	  You must be logged in to leave a comment.
	</div>
        <input class='btn btn-success' id='submit' type='submit' value='Submit' />
      </form>
    </div>
  </div>
</div>
<div id='maps' style="height:450px; width:100%;"></div>
{% endblock %}

{% block page_specific_javascript %}
<script type='text/javascript' src='{{ STATIC_URL }}js/login_prompt.js'></script>
<script type='text/javascript'>
{% autoescape off %}
        {% if not user.is_authenticated %}
            $(".vote").loginPrompt();
        {% else %}
         $("button.vote").click(function(e) {
            e.preventDefault();
            var actionURL = $(this).parent().attr("action");
            var data = {                
                "csrfmiddlewaretoken":$("#csrf").find('input').val(),
            };

            $(that).parent().attr("action", actionURL);
            var that = this;
    
            var actionList = actionURL.split('/');

           $.post(actionURL, data, function(data){
               window.location.reload();
            })
             .error(function(data){
                //TODO, display an error?
             });
         });
         {% endif %}
        $(".login-button").click(function() { $("div.login.alert").remove(); });
        $("button.vote").click(function(e) {
            e.preventDefault();
            var actionURL = $(this).parent().attr("action");
            var data = {                
                "csrfmiddlewaretoken":$("#csrf").find('input').val(),
            };
            console.log(data);
            $.post(actionURL, data, function(data){
                //TODO, alter to success icon
            })
             .error(function(data){
                //TODO, display an error?
             });
         });
        var lat = {{img.latitude}}, lng = {{img.longitude}}
        var img_id = {{img.id}}

        var current_uid = {{ user.id }}

        var user_name = "{{ user }}"
        var typeAheadSource = [
          {% for tag in all_tags %}
              "{{tag.tag_text}}", 
          {% endfor %}]
{% endautoescape %}
</script>
<script type='text/javacript' src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js'></script>
<script type="text/javascript"
      src="//maps.googleapis.com/maps/api/js?key=AIzaSyAwwi-pYumS3O9OxbscA3pbDb_MPuWA6Eo&amp;sensor=true"></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/image.js'></script>
{% endblock %}
