{% extends "wainz/base.html" %}

{% block container_content %}

<div class='container'>
<div class='well background-color2'>
<center><h2>Our Friends</h2></center>
<hr />
<p style="font-size:1.2em">We feel the organizations featured below fully respect and understand our cause. We endorse their activities and stand by their actions as they do ours.
If you feel that you belong within this list please contact us <a href="{% url wainz.views.contact %}">here</a>.</p>
<hr />
<ul class="thumbnails">
    <li><a href="http://www.niwa.co.nz/"><img src="http://www.niwa.co.nz/sites/all/themes/niwa/css/imgs/logo_niwa.jpg"></a>
    </li>
    <li><a href="http://www.mfe.govt.nz/issues/water/water-quality.html"><img src="http://www.mfe.govt.nz/site-tools/img/logo-nz-govt.gif"></a>
    </li>
    <li><a href="http://www.waterquality.org.nz/Pages/Default.aspx"><img src="http://www.waterquality.org.nz/images/water/Header/wqmasthead2.jpg"></a>
    </li>
    <li><a href="http://freshwater.science.org.nz/"><img src="http://freshwater.science.org.nz/i/nzfss.gif"></a>
    </li>
</ul>
</div>
<div class='row gmaps1'>
<div class='span12'>
</div>
</div>
</div>
{% endblock %}

{%block page_specific_javascript %}

{% endblock %}
