
    <div class="span3 well pull-right">
        <div>
	    <button id="search_submit" type="submit" class="btn btn-success pull-right" value="Search">Search</button>
            <label class="checkbox" style="font-weight: bold; font-size: 18px;">
                <input type="checkbox" id="date_filter" name="date_filter" />Date-time filter
            </label>
            <label>From:</label>
            <input type="text" class="datepicker label2" value="19/08/2012" data-date-format="dd/mm/yyyy" id="from" />

            <label>To</label>
            <input type="text" class="datepicker label2" value="19/08/2012" data-date-format="dd/mm/yyyy" id="to" />
            <hr/>
        <label class="checkbox" style="font-weight: bold; font-size: 18px;">
            <input type="checkbox" id="tag_filter" name="tag_filter">Tag filter
        </label>
        <div id='tag-container'></div>
        <input type='text' id='add_tag_text' />
            <button id="add_tag_filter" class="btn">Add tag</button>
            <span style='padding:10px'>Match:</span>
            <select style='margin-top:10px;width:50%' id='tag_type'>
                <option value='all'>All</option><option value='one'>At least one</option>
            </select>
            <hr/>
            <label class="checkbox" style="font-weight: bold; font-size: 18px;">
                <input type="checkbox" id="geo_filter" name="geo_filter" />Location filter
            </label>
            <div id="geofilters">
                <button id="add_geo_filter" class="btn">Add geofilter</button>
                <hr />
            </div>
        </div>
     </div>
