{% extends "wainz/base.html" %}

{% block container_content %}
<form class="form-horizontal" method='POST' action='{% url wainz.views.report_confirm %}'>  
        <input type="hidden" name="csrfmiddlewaretoken">{% csrf_token %}</input>
        <fieldset>  
          <legend><span style="padding-left:18px">sUAVe Report Generator</span></legend>  
          <div class="control-group">  
            <label class="control-label" for="input01">Title:</label>  
            <div class="controls">  
              <input type="text" class="input-xlarge" id="title" name='title'>  
              <p class="help-block">Enter a Report Title.</p>  
            </div>  
          </div>

	  <div class="control-group">  
            <label class="control-label" for="textarea">Abstract:</label>  
            <div class="controls">  
              <textarea class="input-xlarge" id="abstract" rows="3" name='abstract'></textarea>  
            </div>  
          </div>  

          <div class="control-group">  
            <label class="control-label" for="input01">Report Key Words:</label>  
            <div class="controls">  
              <input type="text" class="input-xlarge" id="keywords" name='keywords'>  
              <p class="help-block">Enter Keywords relating to the Report.</p>  
            </div>  
          </div>
	  <h2>Your selected images</h2>
	      <div style='background-color:#556; height:3px; margin-bottom:5px'></div>
	  <div class="control-group">
            <input type='hidden' name='image_length' value='{{selected_image_set_length}}'>{{selected_image_set_length}}</input>
            {% for idx, img in selected_image_set %}
            <div class="form-actions">
            
            <a href="{% url wainz.views.image img.id %}" class="thumbnail">
              <img src="{{ STATIC_URL }}uploaded-images/{{img.image_path}}.{{img.extension}}" />
            </a> 
            <input type='hidden' name='{{idx}}-id' value="{{img.id}}">{{idx}}-{{img.id}}</input>
             
            <label for="textarea"><br>Image Caption:</label>  
            <textarea class="input-xlarge" id="caption" rows="3" name='{{idx}}-caption'></textarea>  
                                
            <label><br>Date Submitted:</label>
            <span>{{img.submission_date}}</span>

            <label><br>Location:<br></label>
	        <input type="text" class="input-xlarge" name="{{idx}}-location"> 
            
	        <label><h5><br>GPS Coordinates</h5></label>
	        <label>Longitude:</label>
	        <span>{{img.latitude}}</span>
	        <label>Latitude:</label>
	        <span>{{img.longitude}}</span>
            </div>
            {% endfor %}
      </div>
      <div class="control-group">  
            <label class="control-label" for="textarea">Conclusion:</label>  
            <div class="controls">  
              <textarea class="input-xlarge" id="conclusion" rows="3"></textarea>  
            </div>  
          </div>  
      <div class="form-actions">  
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>  
            <button class="btn">Cancel</button>  
          </div>  
        </fieldset>  
</form>  
{% endblock %}

{% block page_specific_javascript %}

{% endblock %}
