{% extends "wainz/base.html" %}

{% block container_content %}
<div class="row-fluid">
    <div class="column">       

        <div class="span6 well">
            <img src="{{ STATIC_URL }}tmp/{{hash}}.{{extension}}" />

            <div class="container">
            <form action="{% url wainz.forms.submission_details %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                 <br />
                  <div class="control-group">
                     <label class="control-label" for="description">Image Name</label>
                     <div class="controls">
                        <input type="text" id="name" name="imageName" class="span4" maxlength="100" placeholder="Image Name" /> <br />
                        <div>Image Description</div>
                        <textarea id='description' name='description' class='span4' ></textarea>
                         <label class='control-label' for='tags'>Optionally, add some tags</label>
                         <input type='text' id='tag_text' class='span4'></input><a href="#" class='btn' id='add_tag'>Add</a>
                         <input type='hidden' id='tags' name='tags'></input>
                         <div id='tag_container'>

                         </div>
                    </div>
                  </div>
                 </hr>
                 <div>Select the location of your image by using the map to your right.</div>
                         
                 <label class="control-label" for="description">Longitude</label>
                 <div class="controls">
                 <input class="input-xlarge disabled" id="lng" name="longitude" type="text" value=" " readonly="readonly">
                 </div>
                 
                   <label class="control-label" for="description">Latitude</label>
                 <div class="controls">
                 <input class="input-xlarge disabled" id="lat" name="latitude" type="text" value=" " readonly="readonly">
                 <input type="hidden" name="hash" value="{{hash}}" >
                 <input type="hidden" name="extension" value="{{extension}}" >
                 </div>              
                     <button id='submit' type="submit" class="btn btn-success" value="Submit">Submit</button><br />
                     <div id='name-error' class='alert alert-error span4' style='display:none'>You must give the image a name!</div>
                </form>
                        
             </div>    
            
        </div>
        <div class="span6 well">
          <div class="gmaps3" id="map_canvas"> </div>
        </div>
    </div>
</div>
{% endblock %}

{%block page_specific_javascript %}
  <script type="text/javascript"
      src="//maps.googleapis.com/maps/api/js?key=AIzaSyAwwi-pYumS3O9OxbscA3pbDb_MPuWA6Eo&sensor=true">
  </script>
  <script style="text/javascript" src="{{ STATIC_URL }}js/point_chooser.js"></script>   
  <script type='text/javascript'>
    $(document).ready(function(){
        var tag_count = 0;
        $("#name").change(function() {
            if($("#name-error").css("display") !== "none") $("#name-error").hide('slow');
        });
        $("#submit").click(function(e){
            console.log(e);
            if($("#name").val() === ""){
                e.preventDefault();
                $("#name-error").show('slow');
            }
        });
        $("#add_tag").click(function(event){
            event.preventDefault();
            if($("#tag_text").val() == '') return;  
            $("#tags").val($("#tags").val()+$("#tag_text").val()+",");
            if(tag_count % 4 == 0){
                 $("<div class='row-fluid' id='tag_container_"+Math.floor(tag_count/4)+"'></div>").appendTo($("#tag_container"));
            }
            var toAdd = $("#tag_container_"+Math.floor(tag_count/4));
            $("<div class='alert alert-success span1 hide'>"+$("#tag_text").val()+"</div>").appendTo(toAdd).show('blind');
            tag_count++;
            $($("#tag_text")).val("");
        });
    });
  </script>
{% endblock %}
