{% extends "wainz/base.html" %}

{% block container_content %}

    <div class="clearfix">
        <div class="span6 well">
            <div class="tabbable">
                 <ul class="nav nav-tabs">
                     <li class="active"><a href="#single" data-toggle="tab">Single Image</a></li>
                 </ul>
                 <div class="tab-content">
                     <div class="tab-pane active" id="single">
                         <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                              {{ form.as_p }}
                              <button type="submit" id="submit_btn" class="btn btn-success" value="Submit">Upload</button>
                        </form>
                        <hr />
                        <h2>Hints</h2>
                        <p class="gen-text2">Uploading photographs and submitting reports requires specific information. The more specific the information the more useful it is for data collection and actioning the process of resolving the pollution issue.<br /><br />
                        When taking photographs try and get one wide angle photo that includes the waterway and the source of pollution. We accept photos of past and present damage to waterways but it is more useful to have photos of current pollution and its source. For instance a photo of stock accessing a waterway needs to show the stock and the waterway, a photo of an outfall pipe into a river or rubbish ina river needs to show both the outfall and the river or both the rubbish on the riverside and the river.<br /><br />
                        Taking more than one photo is advised and is very useful for data collection. If you can photograph evidence linking responsible parties to the pollution then please report these as well (eg. Stock ear tags, Names on rubbish, Pipe coming from a nearby shed).<br /><br />
                        Your photos are Geo referenced and this helps identify the place and people responsible, so make sure your GPS is turned on. </p>
                    </div>

             
                    </div>
                </div>
        </div>

        <div class="span4">
            <div class="well">  
                <h2>Image Guidelines</h2> 
                <br />
                <div class="alert alert-error">
                    <ul>                
                        <li>No Memes</li> 
                        <li>No Angry Farmers</li> 
                        <li>No Famous People</li> 
                        <li>No Porn</li> 
                    </ul>
                </div>
                <div class="alert alert-success">
                    <ul>                
                        <li>Yes to Cows</li> 
                        <li>Yes to Sheep</li> 
                        <li>Yes to Horses</li> 
                        <li>Yes to Rivers</li> 
                        <li>Yes to Poo</li> 
                        <li>Yes to Farms</li> 
                        <li>Yes to Action Shots</li> 
                        <li>Yes to Lakes</li> 
                        <li>Yes to Riverbank Damage</li>
                        <li>Yes to Rubbish</li>
                        <li>Yes to Outfall Pipes</li>
                        <li>Yes to Dead Fish</li>
                        <li>Yes to Polluted Water</li>
                        <li>Yes to Riparian Planting</li>
                        <li>Yes to New Fences</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

