{% extends "wainz/base.html" %}

{% block container_content %}

<header>
  <div class='row-fluid background-color2'>
    <div class='span3'>
      <img height="150" src="{{ STATIC_URL }}images/logo2.jpg" alt="Wainz Logo" /> 
    </div>
    <div class='span6'>
      <br />
      <br />
      <br />
      <br />
      <br />
      <hr />
      <h2>Unmanned aerial vehicle videos</h2>
    </div>
    <div class='span3'>
      <img height="130" style="float:right;margin:30px 30px 0px 0px;" src="{{ STATIC_URL }}images/riverwatch.jpg" alt="Riverwatch Logo" />
    </div>
  </div>
 <hr />
</header>

<div class="container-fluid"> 
    <div class='row-fluid'>
	<div class='span2 well mainrow2'>
	    <ul class="nav nav-list">
	    <li class="nav-header" style='font-size: 14px'>Navigation</li>
	    <li><hr /></li>
	    <li><a href="{% url wainz.views.composite %}"><i class="icon-home"></i> Home</a></li>
	    <li><a href="{% url wainz.views.facts %}"><i class="icon-info-sign"></i> Facts</a></li>
	    <li><a href="{% url wainz.views.pollution %}"><i class="icon-map-marker"></i> Pollution</a></li>
	    <!--<li><a href="{% url wainz.views.reports %}"><i class="icon-list-alt icon-white"></i> Reports</a></li>-->
	    <li><a href="{% url wainz.views.imggallery %}"><i class="icon-camera"></i> Gallery</a></li>
        <li class="active"><a href="{% url wainz.views.uav %}"><i class="icon-facetime-video icon-white"></i> UAV Videos</a></li>
	    <li><a href="{% url wainz.views.media %}"><i class="icon-globe"></i> Media</a></li>
	    <li><a href="{% url wainz.views.resources %}"><i class="icon-eye-open"></i> Resources</a></li>
	    <li><a href="{% url wainz.views.mobileapps %}"><i class="icon-signal"></i> Mobile Apps</a></li>
	    <li><a href="{% url wainz.views.howtohelp %}"><i class="icon-gift"></i> How to help</a></li>
	    </ul>
	</div>

    <div class='span7' style="margin-top: 3px;">
		<iframe width="560" height="315" src="//www.youtube.com/embed/kzgJ0X-kGiY?rel=0" style="border-width:0;" allowfullscreen></iframe>
    </div>
	</div>

</div>
{% endblock %}

