{% extends "wainz/base.html" %}

{% block container_content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<h1 class='centered'>
    You must login to use some features of this website
</h1>
    <div style='background-color:#556; height:3px; margin-bottom:5px; margin-bottom:4em'></div>
<form class='centered' method="post" action="{% url django.contrib.auth.views.login %}" style='padding-bottom:50%'>
{% csrf_token %}

<div>
    <div>
        {{ form.username.label_tag }}
    </div>
    <div>
        {{ form.username }}
    </div>
</div>
<div>
    <div>
        {{ form.password.label_tag }}
    </div>
    <div>
        {{ form.password }}
    </div>
</div>
<input class='btn' type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
