<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 2,
  interval: 30000,
  width: 370,
  height: 50,
  theme: {
    shell: {
      background: '#e8e8e8', /*<!--e8e8e8-->*/
      color: '#000000'
    },
    tweets: {
      background: '#e8e8e8',
      color: '#000000',
      links: '#4694d9'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: true,
    behavior: 'all'
  }
}).render().setUser('{{twitter_account}}').start();
</script>
