{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<div class="image-list">
    {% for idx, image_and_votes in images_and_votes %}
    {% with img=image_and_votes.object %}
    {% with vote=image_and_votes.user_vote %}
    {% if idx|divisibleby:"3" %} <div class='row'> {% endif %}
    <div class="span4 image-col-elem">
        <div id="div-{{idx}}" class="midcol vote-btn-grp">
            <div class="row">
            <form id="linkup{{ idx }}" action="{% url wainz.views.image img.id %}/{% if vote and vote.is_upvote %}clear{% else %}up{% endif %}vote/" method="POST">
                {% csrf_token %}
                <button class="up vote btn {% if vote and vote.is_upvote %}btn-success {% endif %}arrow">
                {% if vote and vote.is_upvote %}
                <i class="icon-circle-arrow-up icon-white"></i>
                {%else%}
                <i class="icon-circle-arrow-up"></i>
                {%endif%}
                </button>
            </form>
            </div>
            <div class="row">
            <form id="linkdown{{ idx }}" action="{% url wainz.views.image img.id %}/{% if vote and vote.is_downvote %}clear{% else %}down{% endif %}vote/" method="POST">
                {% csrf_token %}
                <button class="down vote btn {% if vote and vote.is_downvote %}btn-danger {% endif %}arrow">
                {% if vote and vote.is_downvote %}
                <i class="icon-circle-arrow-down icon-white"></i>
                {%else%}
                <i class="icon-circle-arrow-down"></i>
                {%endif%}
                </button>
            </form>
            </div>
        </div>
        <div class="{% if img.is_sticky %}sticky {% endif %}centered span3 thumbnail image-thumb-container">
            <a href="{% url wainz.views.image img.id %}">
                <img class='thumb image-thumb' id="img-{{idx}}" src="{{ STATIC_PREFIX }}uploaded-images/{{img.image_path}}-thumb.{{img.extension}}" alt="img-{{idx}}" />
            </a>
            <p class="muted">Submitted: {{img.submission_date}}</p>
            <p>Comments</p>
       
        </div>
    </div>
    {% if idx = forloop.counter or idx|add:"1"|divisibleby:"3" %} </div> {% endif %} 
    {% endwith %}
    {% endwith %}
    {% endfor %}
</div>    




